.vs/
[Bb]in/
[Oo]bj/
*.user
*.useros
*.sln.docstates
*.suo

*.nupkg
packages/
node_modules/

*.mdf
*.ldf
*.db
*.db-shm
*.db-wal

*.publish.xml
*.log
publish/
[Tt]est[Rr]esults/

.DS_Store
Thumbs.db

Exemplo_Autorizacao-main/
Login/
MeuSistemaIdentity/